:root {
    /*colours*/
    --color-text: #E4E4E4;
    --color-primary: #7F27FF;
    --color-secondary:#07898d;
    --color-dark: #0A0A23;
    --color-bg: #1A1A2E;

    /* fonts */
    --font-roboto: "Roboto";

}