@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 345px; /* Fixed width */
  height: 500px; /* Fixed height - adjust as needed */
  overflow: auto; /* Allows scrolling if content exceeds height */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 30px 0 #04152d;
}

.image {
  margin-bottom: 26px;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  flex-grow: 1; /* Allows skills to take available space */
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
  transition: background-color 0.3s ease;
}

.skill:hover {
  background-color: var(--color-primary);
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
  margin-top: auto; /* Pushes links to bottom */
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.link:hover {
  background-color: var(--color-secondary);
  transform: scale(1.05);
}